mixin feedback-popup()
    +b.feedback-popup.popup.white-popup#feedback-popup&attributes(attributes)
      +b.popup-content
        +e.title.js-title Связаться с нами
        +e.text.js-text Здесь может быть большое описание попапа с большим количеством информации.
        form.block-feedback(data-place="http://localhost:8080")
          +b.row
            input.form-text(type="text" name="email" required placeholder="Ваш e-mail")
            input.form-text(type="text" name="phone" required placeholder="Ваш телефон")
          +b.button__wrapper.smallpadds
            button.btn-wide.btn-popup.js-send-form Отправить сообщение

    +b.success-popup.popup.white-popup#success-popup&attributes(attributes)
      +b.popup-content
        +e.title.js-title Связаться с нами
        +e.text.js-text Спасибо за обращение, в ближайшее время мы с Вами свяжемся.
        +b.button__wrapper.smallpadds
            button.btn-wide.btn-popup.js-success Понял, принял