$color-white: #ffffff;
$color-black: #303239;
$color-gray-blue: #ccddec;
$color-gray-blue-2: #8c98a6;
$color-navy-blue: #00549e;
$color-navy-light-blue: #00549e;
$color-gray: #6C7682;
$color-gray-dark: #828282;
$color-gray-normal: #8b98a7;
$color-gray-light: #c2c5cc;
$color-gray-bg-block: #f1f7fc;
$color-blue: #00549E;
$color-blue-hover: #19b1f3;
$color-blue-light: #eef4fa;
$color-blue-lighter: #019adc;
$color-purple: #a50235;
$color-red: #dd2d41;
$color-gray-black: #2d2f36;
$color-sand: #b29a6d;
$color-sand-lite: #e1e4e6;
$color-sand-dark: #d6c19b;
$color-gray-2: #9da0a6;
$color-blue-outline: #4D90FE;
$color-blue-shadow: #239ad9;
$color-navy-blue-hover: #0471d0;
