include ../../../../bemto/bemto.pug
include ../../components/header/header

doctype html
html(lang='ru')
    include ../../components/head/head

    body()
      block header

      block content

      script(src='js/vendor.min.js')
      block footer

