mixin similarprojectsslider()
    +b.similarprojectsslider.js-viewport-block&attributes(attributes)
      +e.container.swiper-container
        +e.wrapper.swiper-wrapper
          +e.slide.swiper-slide
            +e.content
              +e.left
                img(src="img/geo1.png")
              +e.right
                +e.title Стенд Rehau
                +e.subtitle Цели проекта
                +e.text Презентация нового модельного ряда оконных систем REHAU
          +e.slide.swiper-slide
            +e.content
              +e.left
                img(src="img/geo1.png")
              +e.right
                +e.title Стенд Rehau
                +e.subtitle Цели проекта
                +e.text Презентация нового модельного ряда оконных систем REHAU
          +e.slide.swiper-slide
            +e.content
              +e.left
                img(src="img/geo1.png")
              +e.right
                +e.title Стенд Rehau
                +e.subtitle Цели проекта
                +e.text Презентация нового модельного ряда оконных систем REHAU
        +b.swiper-pagination.swiper-pagination-similar