mixin top-header()
  +b.top-header#header
    +b.section__wrapper-top&attributes(attributes)
      +b.top-header__container
        a.logo(href="/")
          svg.logo__img(role="img")
            use(xlink:href="svg/sprite.svg#logo")
          +b.logo__title 
            |Карандаш<br>
            |агентство событий
        +b.mobile-menu
          div.bar1
          div.bar2
          div.bar3
        nav.top-menu
          div.mobile-menu-logo
            svg.logo__img(role="img")
              use(xlink:href="svg/sprite.svg#logo")
            +b.logo__title 
              |Карандаш<br>
              |агентство событий
          a.top-menu__item(href="conference.html")
            |Конференции
            span
          a.top-menu__item(href="exhibitions.html")
            |Выставки
            span
          a.top-menu__item(href="team_buildings.html")
            |Тимбилдинги
            span
          a.top-menu__item(href="outdoor_activities.html")
            |Выездные мероприятия
            span
          a.top-menu__item(href="special_business.html")
            |Корпоративы
            span
          a.top-menu__item 
            |Соц. проекты
            span
          a.top-menu__item(href="production.html")
            |Продакшн
            span
          div.close
          +b.mobile-info
            +e.__wrapper
              +e.__info
                svg(role="img")
                  linearGradient(id="SVGID_1_123" gradientUnits="userSpaceOnUse" x1="0.1719" y1="16.707" x2="32.4775" y2="16.707")
                    stop(offset="0.006" style="stop-color:#F8E18B")
                    stop(offset="1" style="stop-color:#65E1BB")
                  path(fill="url(#SVGID_1_123)" d="M28.43,32.891c-0.121,0-0.242-0.006-0.365-0.017c-4.84-0.526-9.539-2.197-13.604-4.835c-3.773-2.398-7.041-5.667-9.442-9.446c-2.644-4.079-4.315-8.799-4.83-13.641C0.085,3.808,0.464,2.68,1.228,1.843c0.765-0.838,1.854-1.319,2.987-1.319h4.571c2.034,0,3.756,1.496,4.038,3.48c0.184,1.394,0.524,2.761,1.013,4.073c0.553,1.471,0.196,3.147-0.912,4.268l-1.392,1.391c1.929,3.149,4.58,5.8,7.729,7.729l1.389-1.388c1.113-1.103,2.813-1.466,4.271-0.917c1.309,0.488,2.676,0.83,4.063,1.013c2.048,0.289,3.545,2.056,3.492,4.11v4.546c0.006,1.133-0.473,2.228-1.31,2.995C30.417,32.514,29.445,32.891,28.43,32.891z M8.817,2.524H4.215c-0.572,0-1.123,0.243-1.509,0.667C2.319,3.614,2.127,4.185,2.179,4.756c0.479,4.516,2.043,8.933,4.522,12.758c2.25,3.539,5.305,6.596,8.84,8.844c3.811,2.473,8.208,4.035,12.721,4.526c0.043,0.005,0.104,0.007,0.166,0.007c0.516,0,1.008-0.19,1.387-0.539c0.422-0.389,0.664-0.94,0.662-1.517v-4.576c0.025-1.063-0.731-1.958-1.764-2.104c-1.527-0.2-3.043-0.577-4.492-1.12c-0.74-0.275-1.601-0.093-2.16,0.462l-1.934,1.932c-0.318,0.318-0.813,0.383-1.201,0.162c-3.969-2.258-7.261-5.549-9.518-9.518C9.185,13.68,9.252,13.188,9.57,12.87l1.936-1.935c0.557-0.563,0.737-1.41,0.457-2.156c-0.542-1.456-0.919-2.97-1.121-4.503C10.702,3.281,9.83,2.524,8.817,2.524z")
                span Телефон:
                span
                  a(href="tel:84995530545")
                    |+7 499 553 05 45
              +e.__info
                svg(role="img")
                  linearGradient(id="SVGID_1_122" gradientUnits="userSpaceOnUse" x1="3.894" y1="4.9966" x2="26.1071" y2="27.2097")
                      stop(offset="0" style="stop-color:#F8E18B")
                      stop(offset="1" style="stop-color:#65E1BB")
                  linearGradient(id="SVGID_2_121" gradientUnits="userSpaceOnUse" x1="10.957" y1="11.2754" x2="19.0432" y2="19.3615")
                    stop(offset="0" style="stop-color:#EFE18B")
                    stop(offset="1" style="stop-color:#A1E1BB")
                  path(fill="url(#SVGID_1_122)" d="M15,37c-0.197,0-0.394-0.059-0.563-0.174C13.847,36.424,0,26.85,0,15.318C0,6.872,6.729,0,15,0c8.271,0,15,6.872,15,15.318c0,11.532-13.848,21.106-14.438,21.508C15.394,36.941,15.197,37,15,37z M15,2C7.832,2,2,7.975,2,15.318c0,9.231,10.435,17.545,13,19.45c2.564-1.903,13-10.219,13-19.45C28,7.975,22.168,2,15,2z")
                  path(fill="url(#SVGID_2_121)" d="M15,21.091c-3.125,0-5.667-2.59-5.667-5.773S11.875,9.545,15,9.545s5.667,2.59,5.667,5.773S18.125,21.091,15,21.091z M15,11.545c-2.022,0-3.667,1.692-3.667,3.773s1.645,3.773,3.667,3.773c2.021,0,3.667-1.692,3.667-3.773S17.021,11.545,15,11.545z")
                span Адрес:
                span Москва, Ленинградский пр.,
                span д. 26, стр.1, офис 5
        nav.right-nav#js-right-nav
