extends ../components/layouts/default

include ../components/top-header/top-header
include ../components/feedback/feedback
include ../components/footer/footer

block head
    - var pageTitle = 'Главная';
block content


  // Первый экран
  section.section.section__fixed.section__mobile__pad.section-main.js-viewport-block
    div#particles-mainview
    +b.section__wrapper-top
      +top-header()
    +b.section__wrapper.section__wrapper-centered.section__wrapper-main
      h1.main-title.js-anim-title.mobile-centered
        span.filled от&nbsp;эскиза 
        | до&nbsp;свершения
    +b.section__wrapper-bottom.section__wrapper-centered.section__wrapper-absolute
      a(href="#") РЕАЛИЗОВАННЫЕ МЕРОПРИЯТИЯ
      +b.scroller


  // Второй экран
  section.section.section__full.section__mobile__pad.js-viewport-block(data-timeout="1100")
    +b.section__wrapper
      +b.light-box
        div.light1
        div.light2
        div.light3
      +b.section__wrapper.section__wrapper-centered
        +b.section-content
          h1.main-title__small.js-anim-title
            span.filled Развитие 
            |бизнеса через мероприятия
          h2.main-title.js-anim-title
            |Излучаем 100% креативных<br>
            |ресурсов в развитие<br>
            |любого бизнеса
          +b.section__row
            div.medium.js-anim-text
              |95% мероприятий, которые<br> 
              |мы создаем, транслируются в СМИ
            div.container-small
              div.small.js-anim-text
                |Оценки реализованных мероприятий всегда положительные, без исключения.
              div.small.js-anim-text
                |Обсуждения завершенных проектов в социальных каналах всегда активное

  // Третий экран
  section.section.section__fixed.section-float.js-viewport-block(data-timeout="1100")
    +b.section__wrapper
      +b.section-content
        h2.main-title__small.main-title__fixed
          span.filled Неисчерпаемый 
          |запас новых идей и ярких решений для&nbsp;самых амбициозных целей
        +b.block.block--pad-left
          +b.block__half--left
            +b.title-under
              span.masked-text.masked-text-1 Культура
            +b.light-box.light-box__small
              div.light1
              div.light2
              div.light3
          +b.block__half
            +b.sub-title.js-anim-title Корпоративная культура
            +b.opts-container
              +e.__text.js-anim-text Мотивация
              +e.__text.js-anim-text Укрепление бренда
              +e.__text.js-anim-text Позиционирование ценностей компании

  // Четверный экран
  section.section.section__fixed.section-float.js-viewport-block(data-timeout="1100")
    +b.section__wrapper
      +b.section-content
        +b.block.block--pad-left
          +b.block__half--left
            +b.title-under
              span.masked-text.masked-text-1 Решение
            +b.light-box.light-box__small
              div.light1
              div.light2
              div.light3
          +b.block__half
            +b.sub-title.js-anim-title Решение задач бизнеса
            +b.opts-container
              +e.__text.js-anim-text Продажи
              +e.__text.js-anim-text PR
              +e.__text.js-anim-text Продвижение

  // Пятый экран
  section.section.section__fixed.section-float.js-viewport-block(data-timeout="1100")
    +b.section__wrapper
      +b.section-content
        +b.block.block--pad-left
          +b.block__half--left
            +b.title-under
              span.masked-text.masked-text-1 Стратегия
            +b.light-box.light-box__small
              div.light1
              div.light2
              div.light3
          +b.block__half
            +b.sub-title.js-anim-title Стратегия развития
            +b.opts-container
              +e.__text.js-anim-text Планирование
              +e.__text.js-anim-text Подведение итогов
              +e.__text.js-anim-text Привлечение инвестиций

  // Шестой экран
  section.section.section__fixed.section-float.js-viewport-block(data-timeout="1100")
    +b.section__wrapper
      +b.section-content
        +b.block.block--pad-left
          +b.block__half--left
            +b.title-under
              span.masked-text.masked-text-1 Эффективность
            +b.light-box.light-box__small
              div.light1
              div.light2
              div.light3
          +b.block__half
            +b.sub-title.js-anim-title Эффективность команды
            +b.opts-container
              +e.__text.js-anim-text Обучение
              +e.__text.js-anim-text Командообразование
              +e.__text.js-anim-text Укрепление новых связей в коллективе

  // Седьмой экран
  section.section.section__fullsize.section-portfolio
    +b.section__wrapper.js-viewport-block
      +b.section-content
        h2.main-title__small.main-title__small--mgtop
          span.js-anim-title
            span.filled С гордостью 
            |представляем
    +b.portfolio.js-viewport-block
      +b.section__wrapper-wide
        +b.section__wrapper
          +b.section-content
            article.block-news.block-news-1
              +b.block-news__title.js-anim-title Азбука профессий
              +b.block-news__subtitle.js-anim-title Цели проекта:
              +b.block-news__text.js-anim-text Оказать влияние на формирование профессионального сознания у молодого поколения полуострова Крым.
              +b.block-news__subtitle.js-anim-title Масштабы проекта:
              +b.block-news__text.js-anim-text
                |- 200 человек в проектной команде<br>
                |- 3 города<br>
                |- 22 000 детей
              +b.block-news__subtitle.js-anim-title Что в итоге?
              +b.block-news__text.js-anim-text
                |Подготовились за 5 месяцев<br>
                |По результатам проекта - министерство образования полуострова Крым формирует внеурочную деятельность для наиболее востребованых профессий.
        a(href="#")
          +b.block-news__image.js-anim-image.js-hover-1(data-first="img/krim.jpg" data-second="img/krim1.jpg")
            img(src="img/krim.jpg")
      +b.section__wrapper
        +b.section-content
          +b.block-image-caption
            +b.block-image-caption__text.js-anim-text
              |Масштабный социальный проект.<br>
              |Мы подготовились так, что количество трудностей на
              |мероприятии равнялось нулю.

    +b.portfolio-inverted.js-viewport-block
      +b.section__wrapper-wide
        +b.section__wrapper
          +b.section-content
            article.block-news.block-news-2
              +b.block-news__title.js-anim-title Премия &laquo;Золотое окно&raquo;
              +b.block-news__subtitle.js-anim-title Цели проекта:
              +b.block-news__text.js-anim-text 
                |Проведение ежегодной премии &laquo;Золотое окно&raquo; в рамках выставки Fensterbau Frontale (Нюрнберг, Германия).<br>
                |Повышение культуры сервиса обслуживания клиентов, компетенции консультантов при продаже окон. 
              +b.block-news__subtitle.js-anim-title Масштабы проекта:
              +b.block-news__text.js-anim-text
                |- 200 человек
              +b.block-news__subtitle.js-anim-title Что в итоге?
              +b.block-news__text.js-anim-text
                |7-я Церемония награждения Премии Золотое Окно за 2017 год побила все рекорды посещаемости. Врамках мероприятия была проведена пленарная дискуссия с лидерами отрасли.
        a(href="#")
          +b.block-news__image.js-anim-image.js-hover-2(data-first="img/goldenwindow.jpg" data-second="img/goldenwindow1.jpg")
            img(src="img/goldenwindow.jpg")
      +b.section__wrapper
        +b.section-content
          +b.block-image-caption
            +b.block-image-caption__text.js-anim-text
              |Специально для церемонии награждения была разработана наградная статуэтка из стекла, оконного профиля и фурнитуры, которые являются продуктами большой тройки G3.


    +b.portfolio.js-viewport-block
      +b.section__wrapper-wide
        +b.section__wrapper
          +b.section-content
            article.block-news.block-news-3
              +b.block-news__title.js-anim-title Стенд Rehau
              +b.block-news__subtitle.js-anim-title Цели проекта:
              +b.block-news__text.js-anim-text Презентация нового модельного ряда оконных систем REHAU
              +b.block-news__subtitle.js-anim-title Масштабы проекта:
              +b.block-news__text.js-anim-text
                |- 2500 посетителей стенда
              +b.block-news__subtitle.js-anim-title Что в итоге?
              +b.block-news__text.js-anim-text
                |Мы помогли компании продемонстрировать инновационный подход через всю линейку продуктов с помощью танцевального перфоманса, который отобразил деятельность и подход компании в целом к выпуску на рынок своих продуктов.
        a(href="#")
          +b.block-news__image.js-anim-image.js-hover-3(data-first="img/rehau.jpg" data-second="img/rehau1.jpg")
            img(src="img/rehau.jpg")
      +b.section__wrapper
        +b.section-content
          +b.block-image-caption
            +b.block-image-caption__text.js-anim-text
              |По итогам выставки стенд REHAU  получил награду «Лучший стенд» в рамках Batimat Russia 2017

    +b.portfolio-inverted.js-viewport-block
      +b.section__wrapper-wide
        +b.section__wrapper
          +b.section-content
            article.block-news.block-news-4
              +b.block-news__title.js-anim-title Конференция и презентация &laquo;Jaguar&nbsp;Land&nbsp;Rover&raquo;
              +b.block-news__subtitle.js-anim-title Цели проекта:
              +b.block-news__text.js-anim-text 
                |Конференция для дилеров. <br>
                |Повышение лояльности к бренду, презентация новых продуктов и подведение итогов.
              +b.block-news__subtitle.js-anim-title Масштабы проекта:
              +b.block-news__text.js-anim-text
                |- 250 человек
              +b.block-news__subtitle.js-anim-title Что в итоге?
              +b.block-news__text.js-anim-text
                |По итогам конференции компания смогла выявить потребность рынка и улучшить стратегию продаж, тем самым повысив спрос на продукт.
        a(href="#")
          +b.block-news__image.js-anim-image.js-hover-4(data-first="img/landrover.jpg" data-second="img/landrover1.jpg")
            img(src="img/landrover.jpg")
      +b.section__wrapper
        +b.section-content
          +b.block-image-caption
            +b.block-image-caption__text.js-anim-text
              |По итогам выставки стенд REHAU  получил награду «Лучший стенд» в рамках Batimat Russia 2017

      +b.section__wrapper.section__mobile__pad.js-viewport-block
        +b.section-content
          +b.button__wrapper.centered.padds.js-anim-block
            button.btn-wide Смотреть все проекты


    // Логотипы
    +b.section__wrapper.section__mobile__pad.js-viewport-block
      +b.section-content
        h2.main-title__small.main-title__small--mgtop
          span.filled 7 
          |лет успеха в реализации<br>мероприятий для лидеров рынка
        +b.block-leaders.js-anim-flex
          +e.__item
            img(src="img/leaders1.png")
          +e.__item
            img(src="img/leaders2.png")
          +e.__item
            img(src="img/leaders3.png")
          +e.__item
            img(src="img/leaders4.png")
          +e.__item
            img(src="img/leaders5.png")
          +e.__item
            img(src="img/leaders6.png")
          +e.__item
            img(src="img/leaders7.png")
          +e.__item
            img(src="img/leaders8.png")
          +e.__item
            img(src="img/leaders9.png")
          +e.__item
            img(src="img/leaders10.png")
          +e.__item
            img(src="img/leaders11.png")
          +e.__item
            img(src="img/leaders12.png")
          +e.__item
            img(src="img/leaders13.png")
          +e.__item
            img(src="img/leaders14.png")
          +e.__item
            img(src="img/leaders15.png")
          +e.__item
            img(src="img/leaders16.png")
          +e.__item
            img(src="img/leaders17.png")
          +e.__item
            img(src="img/leaders18.png")
          +e.__item
            img(src="img/leaders19.png")


    // Обратная связь
    +feedback()

    // Футер с меню
    +footer()

      
block footer
    script(src='js/right-nav.js')
    script(src='js/common.js')

    script(src='js/imagesloaded.pkgd.min.js')
    script(src='js/hover.js')
    script(src='js/particles.js')
    script(src='js/main.js')
    