extends ../components/layouts/default

include ../components/top-header/top-header
include ../components/feedback/feedback
include ../components/simpleslider/simpleslider
include ../components/footer/footer

block head
    - var pageTitle = 'Выездные мероприятия';
block content


  // Первый экран
  section.section.section__fixed.section__mobile__pad.section-main
    +b.section__wrapper-top
      +top-header()
    +b.section__wrapper.section__wrapper-centered.section__wrapper-main
      h1.main-title.js-anim-title.mobile-centered
        span.filled Выездные 
        | мероприятия для&nbsp;бизнеса
      h2.main-subtitle.js-anim-title
        | Изучайте, обозревайте, наслаждайтесь
    +b.section__wrapper-bottom.section__wrapper-centered.section__wrapper-absolute.js-anim-flex
      +b.button__wrapper.centered
        button.btn-middle.js-anim-block.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Оставить заявку" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Оставить заявку
      +b.scroller

  // Второй экран
  section.section.section__fixed.section-float.js-viewport-block(data-timeout="1100")
    +b.section__wrapper
      +b.section-content
        h2.main-title__small.main-title__fixed
          span.filled Выездные 
          |мероприятия &#8212; наша суперсила
        +b.block.block--pad-left
          +b.block__half--left
            +b.title-under
              span.masked-text.masked-text-1 capacity
            +b.light-box.light-box__small
              div.light1
              div.light2
              div.light3
          +b.block__half
            +b.sub-title.js-anim-title Могущество координации
            +b.opts-container
              +e.__text.js-anim-text Менеджер устранит любые сложности, предложит самые разумные варианты развития событий. Для загранпоездок подбираем опытного тревел-координатора. А главное — всегда оперативное решение любых вопросов.
    +b.button__wrapper.centered
      button.btn-middle.js-anim-block.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Получить консультацию" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Получить консультацию

  // Третий экран
  section.section.section__fixed.section-float.js-viewport-block(data-timeout="1100")
    +b.section__wrapper
      +b.section-content
        +b.block.block--pad-left
          +b.block__half--left
            +b.title-under
              span.masked-text.masked-text-1 freshness
            +b.light-box.light-box__small
              div.light1
              div.light2
              div.light3
          +b.block__half
            +b.sub-title.js-anim-title Свежесть идей
            +b.opts-container
              +e.__text.js-anim-text Богатый партнерский бэкграунд как в России так и за рубежом. Планетарный охват организации выездных форматов: от шале на гористых склонах  до поразительных подводных гостиниц.
    +b.button__wrapper.centered
      button.btn-middle.js-anim-block.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Получить консультацию" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Получить консультацию

  // Четвертый экран
  section.section.section__fixed.section-float.js-viewport-block(data-timeout="1100")
    +b.section__wrapper
      +b.section-content
        +b.block.block--pad-left
          +b.block__half--left
            +b.title-under
              span.masked-text.masked-text-1 pleasure
            +b.light-box.light-box__small
              div.light1
              div.light2
              div.light3
          +b.block__half
            +b.sub-title.js-anim-title Максимальное удовольствие
            +b.opts-container
              +e.__text.js-anim-text Кейтеринг исключительного качества: вкусные, ароматные и всегда свежие блюда. Наивысший уровень заботы о вкусовых ощущениях  и оригинальное  меню для событий любых форматов.
    +b.button__wrapper.centered
      button.btn-middle.js-anim-block.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Получить консультацию" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Получить консультацию

  // Пятый экран
  section.section.section__fullsize.section-portfolio
    +b.section__wrapper.js-viewport-block
      +b.section-content
        h2.main-title__small.main-title__small--mgtop
          span.js-anim-title
            span.filled Комплексные 
            |или частичные решения
    +b.wide.js-viewport-block
      +b.section__wrapper-wide.__row
        +b.wide__item.wide__blue.js-anim-block
          +b.wide__content 
            +b.wide__image
              img(src="img/ou-image1.png")
            +b.sub-title.js-anim-title Все сделаем сами
            +b.wide__text.js-anim-text Глубокое планирование всех этапов выездного мероприятия. Определяем формат, концепцию,  тайминг-сценарий, прописываем детали и запускаем процесс подготовки события.
            +b.button__wrapper
              button.btn-middle.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Обсудить детали" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Обсудить детали
        +b.wide__item.wide__yellow.js-anim-block
          +b.wide__content
            +b.wide__image
              img(src="img/ou-image2.png")
            +b.sub-title.js-anim-title Выездное мероприятие как&nbsp;часть тимбилдинга
            +b.wide__text.js-anim-text Выездные тимбилдинги — идеальный способ для насыщенной передачи новых знаний и укрепления неформальных отношений коллектива.
            +b.button__wrapper
              button.btn-middle.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Дополнить мероприятие выездом" data-text="Здесь может быть большое описание попапа с большим количеством информации.")  Дополнить мероприятие выездом
      +b.section__wrapper-wide.__col
        +b.wide__item.wide__green.js-anim-block
          +b.wide__content
            +b.wide__image
              img(src="img/ou-image3.png")
            +b.sub-title.js-anim-title Выездное мероприятие как часть исследования
            +b.wide__container
              +b.wide__text.js-anim-text Формат идеально подходит для крупных компаний, которые работают с производством, добычей, обработкой не только в России, но и за рубежом. Выездные мероприятия помогут ознакомиться с особенностями стран-партнеров,
              +b.wide__text.js-anim-text прочувствовать менталитет и изучить культурное наследие. Собранные данные снижают риски и количество неточностей в реализации задач бизнеса..
            +b.button__wrapper.centered
              button.btn-middle.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Заказать консультацию" data-text="Здесь может быть большое описание попапа с большим количеством информации.")  Заказать консультацию


    +b.section__wrapper.js-viewport-block
      +b.section-content
        h2.main-title__small.main-title__small--mgtop
          span.js-anim-title
            span.filled Ключевые 
            |факты о выездных мероприятиях

    +simpleslider.js-simple-slider()
    
    // Обратная связь
    +feedback()

    // Футер с меню
    +footer()

      
block footer
    script(src='js/right-nav.js')
    script(src='js/common.js')

    script(src='js/simpleSlider.js')
    script(src='js/secondaryPage.js')
    