extends ../components/layouts/default

include ../components/top-header/top-header
include ../components/feedback/feedback
include ../components/simpleslider/simpleslider
include ../components/footer/footer

block head
    - var pageTitle = 'Корпоративы';
block content

  // Хедер
  +top-header()

  // Первый экран
  section.section.section__fixed.section__mobile__pad.section-main
    +b.section__wrapper.section__wrapper-centered.section__wrapper-main
      h1.main-title.js-anim-title.mobile-centered
        span.filled Корпоративные 
        | мероприятия
      h2.main-subtitle.js-anim-title
        | Миллион способов влюбить сотрудников в свою компанию
    +b.section__wrapper-bottom.section__wrapper-centered.section__wrapper-absolute.js-anim-flex
      +b.button__wrapper.centered.white
        button.btn-middle.js-anim-block.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Оставить заявку" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Оставить заявку
      +b.scroller

  // Второй экран
  section.section.section__fixed.section-float.js-viewport-block(data-timeout="1100")
    +b.section__wrapper
      +b.section-content
        h2.main-title__small.main-title__fixed
          span.filled Особые 
          |бизнес-эффекты
        +b.block.block--pad-left
          +b.block__half--left
            +b.title-under
              span.masked-text.masked-text-1 dominoes
            +b.light-box.light-box__small
              div.light1
              div.light2
              div.light3
          +b.block__half
            +b.sub-title.js-anim-title Эффект &laquo;Домино&raquo;
            +b.opts-container
              +e.__text.js-anim-text Корпоратив удался, если  сотрудники проявили себя с лучшей стороны в запланированных активностях. Это окрыляет, заряжает эмоционально, запуская цепную реакцию новых свершений в рабочей обстановке. 
            +b.button__wrapper
              button.btn-middle.js-anim-block.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Узнать стоимость" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Узнать стоимость

  // Третий экран
  section.section.section__fixed.section-float.js-viewport-block(data-timeout="1100")
    +b.section__wrapper
      +b.section-content
        +b.block.block--pad-left
          +b.block__half--left
            +b.title-under
              span.masked-text.masked-text-1 business
            +b.light-box.light-box__small
              div.light1
              div.light2
              div.light3
          +b.block__half
            +b.sub-title.js-anim-title Конференции - это бизнес
            +b.opts-container
              +e.__text.js-anim-text Рискованность конференций очевидна и к каждой относимся как личному краткосрочному бизнесу. Оцениваем необходимость реализации конференций, просчитываем фиксированные и плавающие затраты. Мощный аналитический бэкграунд точно определяет стоимость затрат и способы сделать конференцию прибыльной.
            +b.button__wrapper
              button.btn-middle.js-anim-block.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Узнать стоимость" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Узнать стоимость

  // Четвертый экран
  section.section.section__fixed.section-float.js-viewport-block(data-timeout="1100")
    +b.section__wrapper
      +b.section-content
        +b.block.block--pad-left
          +b.block__half--left
            +b.title-under
              span.masked-text.masked-text-1 creativity
            +b.light-box.light-box__small
              div.light1
              div.light2
              div.light3
          +b.block__half
            +b.sub-title.js-anim-title Созидательность
            +b.opts-container
              +e.__text.js-anim-text Критерий хорошего корпоратива — созидательное послевкусие. Все сотрудники в надежных руках.
            +b.button__wrapper
              button.btn-middle.js-anim-block.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Узнать стоимость" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Узнать стоимость

  // Пятый экран
  section.section.section__fixed.section-float.js-viewport-block(data-timeout="1100")
    +b.section__wrapper
      +b.section-content
        +b.block.block--pad-left
          +b.block__half--left
            +b.title-under
              span.masked-text.masked-text-1 effect
            +b.light-box.light-box__small
              div.light1
              div.light2
              div.light3
          +b.block__half
            +b.sub-title.js-anim-title Эффект прорыва
            +b.opts-container
              +e.__text.js-anim-text Умные корпоративные активности становятся прорывными, раскрывая ценные качества сотрудников. Особые корпоративные программы способны навести шороху в застоявшемся коллективе, формируя инновационные и стратегически важные для бизнеса идеи.
            +b.button__wrapper
              button.btn-middle.js-anim-block.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Узнать стоимость" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Узнать стоимость

  // Шестой экран
  section.section.section__fullsize.section-portfolio
    +b.section__wrapper.js-viewport-block
      +b.section-content
        h2.main-title__small.main-title__small--mgtop
          span.js-anim-title
            span.filled Комплексные 
            |или частичные решения
    +b.wide.js-viewport-block
      +b.section__wrapper-wide.__row
        +b.wide__item.wide__lime.js-anim-block
          +b.wide__content 
            +b.wide__image
              img(src="img/ou-image1.png")
            +b.sub-title.js-anim-title Все сделаем сами
            +b.wide__text.js-anim-text Для амбициозных и масштабных идей. Планируем все заранее, тщательно прописываем детали. Фокусируемся на процессе и итоговом результате.
            +b.button__wrapper
              button.btn-middle.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Обсудить стоимость" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Обсудить стоимость
        +b.wide__item.wide__purple.js-anim-block
          +b.wide__content
            +b.wide__image
              img(src="img/ou-image2.png")
            +b.sub-title.js-anim-title Частичное вовлечение
            +b.wide__text.js-anim-text Дополним любые наработки свежими идеями и решениями в рамках бюджета. Соблюдаем заданный ритм и требования к  итоговому результату,  даже если уже распланирована значимая часть мероприятия.
            +b.button__wrapper
              button.btn-middle.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Обсудить стоимость" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Обсудить стоимость
      +b.section__wrapper-wide.__col
        +b.wide__item.wide__green.js-anim-block
          +b.wide__content
            +b.wide__image
              img(src="img/ou-image3.png")
            +b.sub-title.js-anim-title Минимальное сопровождение
            +b.wide__container
              +b.wide__text.js-anim-text 23 февраля, 8 марта, Halloween, Новый год. Окажем частичную поддержку:
                |— ведущий
                |— коуч
              +b.wide__text.js-anim-text Подбор развлекательных праздничных дополнений.
            +b.button__wrapper.centered
              button.btn-middle.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Обсудить стоимость" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Обсудить стоимость


    +b.section__wrapper.js-viewport-block
      +b.section-content
        h2.main-title__small.main-title__small--mgtop
          span.js-anim-title
            span.filled Ключевые 
            |факты о выездных мероприятиях

    +simpleslider.js-simple-slider()
    
    // Обратная связь
    +feedback()

  // Футер с меню
  +footer()

      
block footer
    script(src='js/right-nav.js')
    script(src='js/common.js')

    script(src='js/simpleSlider.js')
    script(src='js/secondaryPage.js')
    