extends ../components/layouts/default

include ../components/top-header/top-header
include ../components/feedback/feedback
include ../components/simpleslider/simpleslider
include ../components/footer/footer

block head
    - var pageTitle = 'Тимбилдинги';
block content


  // Первый экран
  section.section.section__fixed.section__mobile__pad.section-main
    +b.section__wrapper-top
      +top-header()
    +b.section__wrapper.section__wrapper-centered.section__wrapper-main
      h1.main-title.js-anim-title.mobile-centered
        span.filled Кадры 
        | решают
      h2.main-subtitle.js-anim-title
        | Критерий успешного бизнеса &#8212; сплоченный и дружный коллектив 
    +b.section__wrapper-bottom.section__wrapper-centered.section__wrapper-absolute.js-anim-flex
      +b.button__wrapper.centered
        button.btn-middle.js-anim-block.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Оставить заявку" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Оставить заявку
      +b.scroller

  // Второй экран
  section.section.section__fixed.section-float.js-viewport-block(data-timeout="1100")
    +b.section__wrapper
      +b.section-content
        h2.main-title__small.main-title__fixed
          span.filled Сплочение 
          |команд любого масштаба
        +b.block.block--pad-left
          +b.block__half--left
            +b.title-under
              span.masked-text.masked-text-1 maximum
            +b.light-box.light-box__small
              div.light1
              div.light2
              div.light3
          +b.block__half
            +b.sub-title.js-anim-title Максимальное погружение
            +b.opts-container
              +e.__text.js-anim-text Индивидуальная, глубокая проработка сценария тимбилдинга позволяет отразить специфику работы компании переложить ее в формат игры. 100% гарантированная персональная вовлеченность всех сотрудников. 
              +e.__text.italic.js-anim-text Равнодушных не останется
    +b.button__wrapper.centered
      button.btn-middle.js-anim-block.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Узнать стоимость" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Узнать стоимость

  // Третий экран
  section.section.section__fixed.section-float.js-viewport-block(data-timeout="1100")
    +b.section__wrapper
      +b.section-content
        +b.block.block--pad-left
          +b.block__half--left
            +b.title-under
              span.masked-text.masked-text-1 multi
            +b.light-box.light-box__small
              div.light1
              div.light2
              div.light3
          +b.block__half
            +b.sub-title.js-anim-title Мультиформатность
            +b.opts-container
              +e.__text.js-anim-text От спортивных до интеллектуальных форматов. На свежем воздухе и в закрытом пространстве. Квизы, квесты, состязания. 
              +e.__text.js-anim-text Хорошенько взбодрите свой коллектив и наблюдайте за тем, как  укрепляется корпоративный дух  и раскрываются новые стороны ваших сотрудников
    +b.button__wrapper.centered
      button.btn-middle.js-anim-block.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Узнать стоимость" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Узнать стоимость


  // Четвертый экран
  section.section.section__fixed.section-float.js-viewport-block(data-timeout="1100")
    +b.section__wrapper
      +b.section-content
        +b.block.block--pad-left
          +b.block__half--left
            +b.title-under
              span.masked-text.masked-text-1 power
            +b.light-box.light-box__small
              div.light1
              div.light2
              div.light3
          +b.block__half
            +b.sub-title.js-anim-title Кадровые мощности
            +b.opts-container
              +e.__text.js-anim-text Формирование кадрового благополучия компании. Одним тимбилдингом  генерируем запас энергии сотрудников на годы вперед
    +b.button__wrapper.centered
      button.btn-middle.js-anim-block.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Узнать стоимость" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Узнать стоимость

  // Пятый экран
  section.section.section__fullsize.section-portfolio
    +b.section__wrapper.js-viewport-block
      +b.section-content
        h2.main-title__small.main-title__small--mgtop
          span.js-anim-title
            span.filled Комплексные 
            |или частичные решения
    +b.wide.js-viewport-block
      +b.section__wrapper-wide.__row
        +b.wide__item.wide__lime.js-anim-block
          +b.wide__content 
            +b.wide__image
              img(src="img/ou-image1.png")
            +b.sub-title.js-anim-title Все сделаем сами
            +b.wide__text.js-anim-text Запланируем все заранее, выберем  концепцию, детально пропишем тонкости и запустим в реализацию. Приветствуем смелые решения: парусные регаты, заезды на лошадях, выезд за городскую черту.
            +b.button__wrapper
              button.btn-middle.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Обсудить детали" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Обсудить детали
        +b.wide__item.wide__purple.js-anim-block
          +b.wide__content
            +b.wide__image
              img(src="img/ou-image2.png")
            +b.sub-title.js-anim-title Тимбилдинг как часть корпоратива 
            +b.wide__text.js-anim-text В корпоративных программах используем  погодный потенциал на максимум. Зимой и летом: спортивные развлечения, квиз, командные соревнования, туризм, катание на квадроциклах и снегоходах.
            +b.button__wrapper
              button.btn-middle.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Заказать консультацию" data-text="Здесь может быть большое описание попапа с большим количеством информации.")  Заказать консультацию
      +b.section__wrapper-wide.__row
        +b.wide__item.wide__green.js-anim-block
          +b.wide__content 
            +b.wide__image
              img(src="img/ou-image1.png")
            +b.sub-title.js-anim-title Тимбилдинг как часть внутреннего обучения
            +b.wide__text.js-anim-text Дополняем процесс повышения квалификации сотрудников тимбилдингом. Эксклюзивные условия для всех профессиональных уровней:
            | — топ-менеджеры
            | — менеджеры среднего звена
            | — специалисты
            +b.button__wrapper
              button.btn-middle.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Заказать мероприятие" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Заказать мероприятие
        +b.wide__item.wide__yellow.js-anim-block
          +b.wide__content
            +b.wide__image
              img(src="img/ou-image2.png")
            +b.sub-title.js-anim-title Тимбилдинг как часть праздника
            +b.wide__text.js-anim-text 23 февраля, 8 марта, Halloween, Новый год. Подбор развлекательных праздничных дополнений. 
              | Окажем частичную поддержку: 
              | — ведущий
              | — коуч
            +b.button__wrapper
              button.btn-middle.modal(data-popup="#feedback-popup" data-buttontext="Отправить сообщение" data-title="Получить предложение" data-text="Здесь может быть большое описание попапа с большим количеством информации.") Получить предложение


    +b.section__wrapper.js-viewport-block
      +b.section-content
        h2.main-title__small.main-title__small--mgtop
          span.js-anim-title
            span.filled Ключевые 
            |факты

    +simpleslider.js-simple-slider()
    
    // Обратная связь
    +feedback()

    // Футер с меню
    +footer()

      
block footer
    script(src='js/right-nav.js')
    script(src='js/common.js')

    script(src='js/simpleSlider.js')
    script(src='js/secondaryPage.js')
    