mixin simpleslider()
  +b.section__wrapper.js-viewport-block&attributes(attributes)
    +b.simpleslider.js-anim-block
      +b.__container.swiper-container
        +b.__wrapper.swiper-wrapper
          +b.__slide.swiper-slide
            +b.__content
              +b.__title
                span.masked-text.masked-text-2 КОМПАНИЯ
              +b.__text Cобирается ценная информация, снижаются бизнес-риски и формируется устойчивое представление о последующих ключевых решениях компании
          +b.__slide.swiper-slide
            +b.__content
              +b.__title
                span.masked-text.masked-text-2 ВТОРОЙ
              +b.__text Cобирается ценная информация, снижаются бизнес-риски и формируется устойчивое представление о последующих ключевых решениях компании
          +b.__slide.swiper-slide
            +b.__content
              +b.__title
                span.masked-text.masked-text-2 ТРЕТИЙ
              +b.__text Cобирается ценная информация, снижаются бизнес-риски и формируется устойчивое представление о последующих ключевых решениях компании
        +b.swiper-pagination
        +b.swiper-button-prev
        +b.swiper-button-next