.block {

  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
  z-index: 3;


  &--pad-left {
    
    justify-content: flex-end;
  }

  &--mg-top {
    //margin-top: 260px;
  }

  &__half {
    width: 50%;
  }
}


.opts-container {
  margin-top: 80px;

  &__text {
    margin-top: 40px;
    font-weight: 300;
    font-size: 20px;
  }

}

.block-news {
  width: 50%;
  flex: 1;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  min-height: 540px;
  padding: 0px 90px;

  @include screen($tablet, $desktop) {
    padding: 0px 45px;
    min-height: 320px;
  }

  &__image {
    width: 50%;
    height: 100%;
    position: absolute;
  }

  &__title {
    font-size: 54px;
    font-weight: 300;
    padding-top: 32px;
    margin-bottom: 56px;

    @include screen($tablet, $desktop) {
      font-size: 38px;
      padding-top: 24px;
      margin-bottom: 36px;
    }
  }

  &__subtitle {
    font-size: 26px;
    margin: 16px 0px;

    @include screen($tablet, $desktop) {
      font-size: 22px;
    }
  }

  &__text {
    font-size: 18px;

    @include screen($tablet, $desktop) {
      font-size: 16px;
    }

    &:last-child {
      padding-bottom: 32px;
    }
  }

  &__text + &__subtitle {
    margin-top: 48px;
  }
}

.block-image-caption {
  width: 50%;  

  &__text {
    margin: 32px;
    width: 60%;
    margin-left: 160px;
    font-size: 17px;
    color: #afafaf;
    position: relative;

    @include screen($tablet, $desktop) {
      font-size: 14px;
    }

    &:before {
      content: 'ᴼᴼ';
      position: absolute;
      letter-spacing: 1px;
      left: -22px;
      top: -8px;
      font-size: 18px;
      color: #afafaf;
    }
  }
}

.portfolio {

  .block-news {
    align-self: flex-start;

    &__image {
      right: 0;
      top:0;
      z-index: 9;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  .block-image-caption {
    align-self: flex-end;
  }


  &-inverted {

    .block-news {
      align-self: flex-end;

      &__image {
        left: 0;
        top: 0;
        z-index: 9;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
    .block-image-caption {
      align-self: flex-start;
    }
  }

  & + &, & + &-inverted, &-inverted + & {
    margin-top: 120px;
  }
}







.block-leaders {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 120px;

  &__item {
    width: calc(25% - 20px);
    height: 200px;
    //background-color: #abc;
    margin: 0px 20px 20px 0px;


    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}




.block-feedback {
  display: flex;
  flex-direction: column;
  max-width: 60%;

  input {
    flex: 1
  }

  .row {
    display: flex;
    flex-direction: row;
  }
}

.block-footer {
  width: 100%;
  margin: 120px 0px 64px 0px;

  @include screen($tablet, $desktop) {
    margin: 80px 0px 32px 0px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    width: 100%;
    margin-top: 32px;

    .col:first-child {
      flex: 6;
    }
    .col:last-child {
      flex: 4;
    }
  }
  .col {
    display: flex;
    flex-direction: column;
  }


  &__logo {
    padding: 18px;
  }


  &__nav {
    width: 60%;
    overflow: hidden;

    @include screen($tablet, $desktop) {
      width: 50%;
    }

    &-item {
      font-size: 25px;
      color: #5b5b5b;
      text-decoration: none;
      margin-right: 18px;
      white-space: nowrap;
      position: relative;
      transition: all ease 0.5s;

      @include screen($tablet, $desktop) {
        font-size: 18px;
      }

      span {
        position: relative;
        display: inline;
        margin-top: 2px;
        width: 0%;
        height: 1px;
      }

      &:before {
        content: '|';
        position: absolute;
        left: -14px;
        font-size: 25px;
        color: #5b5b5b;

        @include screen($tablet, $desktop) {
          font-size: 18px;
        }
      }

      &.nothovered {
        opacity: 0.3;
        transition: all ease 0.5s;
        cursor: pointer;
      }

      &.hovered {
        opacity: 1;
        transition: all ease 0.5s;
        cursor: pointer;

        span {
          position: relative;
          display: inline;
          margin-top: 2px;
          width: 0%;
          height: 1px;
          background: #333333;
          animation: lineanimation 0.4s linear normal;
          animation-fill-mode: both;
        }
      }
    }

    &-wrapper {
      max-width: 90%;  
    }
  }


  &__info {
    padding: 32px 18px;
    flex: 1;
    align-self: flex-start;

    @include screen($tablet, $desktop) {
      padding: 24px 12px;
    }

    span, a {
      display: block;
      font-size: 25px;
      color: #5b5b5b;
      text-decoration: none;

      @include screen($tablet, $desktop) {
        font-size: 18px;
      }
    }

    svg {
      width: 40px;
      height: 40px;
    }
  }


  &__socials {
    flex-direction: row;
    display: flex;
    padding: 18px 0px;

    svg {
      width: 40px;
      height: 40px;
      margin-right: 18px; 
    }
  }
}