.block {

  display: flex;
  width: 100%;
  flex-direction: row;


  &--pad-left {
    
    justify-content: flex-end;
  }

  &--mg-top {
    margin-top: 320px;
  }

  &__half {
    width: 50%;
  }
}


.opts-container {
  margin-top: 80px;
  margin-bottom: 48px;

  &__text {
    margin-top: 40px;
    font-family: 'MuseoSansCyrl';
    font-weight: 300;
    font-size: 30px;
  }

}