.button__wrapper {
  
  &.centered {
    align-self: center;
  }

  &.padds {
    padding: 120px 0px;

    @include screen(0, $mobile) {
      padding: 32px 0px;
    }
  }
  &.smallpadds {
    padding: 56px 0px;

    @include screen(0, $mobile) {
      padding: 16px 0px;
    }
  }
}

.btn-wide {
  padding: 32px 140px;
  background-color: transparent;
  font-size: 40px;
  position: relative;
  width: 100%;
  color: #000000;
  border: 2px outset;
  opacity: 1;
  border-image: linear-gradient(45deg, #bddb9e, #e7ffc4, #71e1b7) 1;
  
  
  &:before {
    content: '';
    background-color: rgba(255,255,255,1);
    opacity: .4;
    position: absolute;
    left: -5%;
    top: -5%;
    transition: all 0.4s ease;
    width: 110%;
    height: 110%;
  }

  @include screen($tablet, $desktop) {
    font-size: 24px;
    padding: 24px 96px;
  }
  @include screen(0, $tablet) {
    padding: 16px 32px;
    font-size: 24px;
  }

  &:hover {

    &:before {
      opacity: 0;
    }
  }
}