.button__wrapper {

  display: flex;
  background-color: inherit;
  
  &.centered {
    align-self: center;
  }

  &.padds {
    padding: 120px 0px;

    @include screen(0, $mobile) {
      padding: 32px 0px;
    }
  }
  &.smallpadds {
    padding: 56px 0px;

    @include screen(0, $mobile) {
      padding: 16px 0px;
    }
  }
}

.btn-wide {
  padding: 32px 140px;
  background-color: transparent;
  font-size: 40px;
  position: relative;
  width: 100%;
  color: #000000;
  border: 2px outset;
  opacity: 1;
  border-image: linear-gradient(45deg, #bddb9e, #e7ffc4, #71e1b7) 1;
  
  
  &:before {
    content: '';
    background-color: rgba(255,255,255,1);
    opacity: .4;
    position: absolute;
    left: -5%;
    top: -5%;
    transition: all 0.4s ease;
    width: 110%;
    height: 110%;
  }

  @include screen($tablet, $desktop) {
    font-size: 24px;
    padding: 24px 96px;
  }
  @include screen(0, $tablet) {
    padding: 16px 32px;
    font-size: 24px;
  }

  &:hover {

    &:before {
      opacity: 0;
    }
  }
}

.btn-middle {
  margin: 36px 0px 16px 0px;
  position: relative;
  display:inline-block;
  background-image: linear-gradient(16deg, #feb770, #e370b4);
  padding:16px 64px;
  line-height:30px;
  text-align: center;
  color: #030303;
  border-radius: 30px;
  font-weight: 300;
  overflow: hidden;
  font-size: 24px;
  z-index:0;
  background-color: inherit;

  border: 0;

  @include screen(0, $mobile) {
    padding: 12px 32px;
    font-size: 18px;
  }
  @include screen($mobile, $tablet) {
    padding: 12px 32px;
    font-size: 18px;
  }
  @include screen($tablet, $desktop) {
    padding: 12px 32px;
    font-size: 18px;
  }
  
  
  &:before {
    content: '';
    position: absolute;
    /* specify the value of border width here */
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;

    background-color: inherit;
    border-radius: 28px;
    box-sizing: border-box;
    z-index: -1;
  }
}


.button {

  /* position: relative;
  padding: 5px;
  border: double 4px transparent;
  border-radius: 80px;
  
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00,#3020ff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
 */

}