.form-text {
  border: 0;
  border-bottom: 1px solid #f1f1f2;
  font-size: 30px;
  padding: 18px 0px;
  margin: 16px 0px;
  color: #d0d0d0;

  @include screen($tablet, $desktop) {
    font-size: 24px;
  }
  @include screen(0, $mobile) {
    font-size: 18px;
  }
}

.form-text + .form-text {
  margin-left: 64px;
  @include screen(0, $mobile) {
    margin-left: 0px;
  }
}