.section {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  
  /* display: flex;
  flex-direction: column;
  */
  

  &:nth-child(1) {
    background: #ffffff
  }
  &:nth-child(2) {
    background: #ffffff
  }
  &:nth-child(3) {
    background: #ffffff;
  }
  &:nth-child(4) {
    background: #ffffff
  }
  &:nth-child(5) {
    background: #ffffff
  }
  &:nth-child(6) {
    background: #ffffff;
    //height: 200vh!important;
  }

  &__wrapper {
    display: flex;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    &-centered {
      justify-content: center;
      align-items: center;
      //height: 100%;
    }

    &-wide {
      display: block;
      max-width: 1960px;
      width: 100%;
      margin: 0 auto;
      position: relative;
      z-index: 2;
    }

    &-main {
      padding-bottom: 120px;
    }
  }

  &__wrapper-top {
    display: flex;
    position: relative;
    z-index: 5;
    height: 100px;

  }
  &__wrapper-bottom {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    z-index: 2;

    a {
      color: #333;
      font-size: 24px;
      margin-bottom: 120px;
    }

    .scroller {
      margin-bottom: 24px;
    }
  }

  &__full {
    .section-content {
      justify-content: space-around;
    }
    .section__wrapper {
      height: 100%;
    }
  }

  &__fixed {
    .section-content {
      padding-bottom: 10%;
      //justify-content: space-around;
    }
    .section__wrapper {
      height: 100%;
    }
  }

  &__row {
    flex-direction: row;
    display: flex;
    align-items: center;

    div {
      margin-right: 80px;
      font-family: 'MuseoSansCyrl';
    }

  }

  &__fullsize {
    height: auto;
  }

}

.section-content {
  flex-direction: column;
  display: flex;
  flex: 1;
  
  height: 100%;

  &__content-bottom {
    justify-content: flex-end;
  }
}

.section-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;

  canvas {
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #particles-mainview {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 1
  }
}

.section-third {
  .title-under {
    top: 28%;
  }
}

.section-portfolio {
  h2 {
    padding-bottom: 120px;
  }
}