.section {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #ffffff;
  //overflow: hidden;
  
  /* display: flex;
  flex-direction: column;
  */

  transition: background 1.1s ease;
  &.fading {
    background: rgba(255,255,255,1);
  }

  @include screen(0, $mobile) {
    height: auto;
    overflow: visible;
    margin-bottom: 32px;
  }
  @include screen(0, $tablet) {
    height: auto;
    overflow: visible;
    margin-bottom: 64px;
  }

  &-bg {
    height: 100%;
  }
  

 /*  &:nth-child(1) {
    background: #ffffff
  }
  &:nth-child(2) {
    background: #ffffff
  }
  &:nth-child(3) {
    background: #ffffff;
  }
  &:nth-child(4) {
    background: #ffffff
  }
  &:nth-child(5) {
    background: #ffffff
  }
  &:nth-child(6) {
    background: #ffffff;
    //height: 200vh!important;
  } */

  &__wrapper {
    //display: flex;
    //flex-direction: column;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    //background-color: #ffffff;

    @include screen($desktop, $desktop-wide) {
      max-width: 1480px;
    }

    @include screen(0, $tablet) {
      max-width: 768px;
      //overflow: hidden;
    }
    @include screen($tablet, $desktop-1) {
      max-width: 1024px;
      padding: 0px 24px; 
    }
    @include screen($desktop-1, $desktop) {
      max-width: 1200px;
      padding: 0px 12px; 
    }


    &-centered {
      display: flex;
      justify-content: center;
      align-items: center;
      //height: 100%;
    }

    &-wide {
      display: block;
      max-width: 1960px;
      width: 100%;
      //height: 100%;
      margin: 0 auto;
      position: relative;
      z-index: 2;
      background-position: center;
      background-size: cover;

      &.section__withimage {
        margin-top: 64px;
        .section-content {
          background-size: cover;
        }
      }

      &.gray {
        background-color: #f5f5f5;
      }

      &-sub {
        margin-bottom: 96px;

        @include screen(0, $mobile) {
          margin-bottom: 36px;
        }
      }
    }

    &__splited {
      height: auto;
      padding-bottom: 18px;
      @include screen(0, $mobile) {
        padding: 0px 32px;
      }
    }

    &-sub {
      margin-bottom: 96px;
      @include screen(0, $mobile) {
        margin-bottom: 36px;
      }
    }

    &-main {
      padding-bottom: 120px;
      flex-direction: column;
      @include screen(0, $tablet) {
        height: 100%!important;
      }
    }

  }

  &-half {
    width: 50%;
    align-items: center;
    justify-content: left;
    display: flex;

    &:first-child {
      padding: 120px 24px 120px 72px;
    }
    &:last-child {
      padding: 120px 72px 120px 24px;
    }

    @include screen(0, $mobile) {
      width: 100%;
      &:first-child {
        padding: 32px 0px 0px 0px;
      }
      &:last-child {
        padding: 32px 0px;
      }
    }
  }

  &__wrapper-top {
    display: flex;
    position: relative;
    z-index: 5;
    height: 100px;

  }
  &__wrapper-bottom {
    display: flex;
    position: absolute;
    background-color: #ffffff;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    z-index: 2;

    &.transparent {
      background-color: transparent;
    }

    a {
      color: #333;
      font-size: 14px;
      margin-bottom: 80px;
      text-decoration: none;
      border-bottom: 1px solid #666;
      line-height: 1.5;

      @include screen($tablet, $desktop-1) {
        font-size: 18px;
        margin-bottom: 100px;
      }
      @include screen($desktop-1, $desktop) {
        font-size: 14px;
        margin-bottom: 90px;
      }  
      @include screen($mobile-1, $mobile) {
        font-size: 20px;
      }
      @include screen(0, $mobile-1) {
        font-size: 14px;
      }
    }

  }

  &__fixed {

    .section-content {
      align-items: center;
      justify-content: center;
      //margin-top: 5%;
      //justify-content: space-around;
      @include screen(0, $tablet) {
        margin-top: 0;
        width: 100%;
      }
    }
    .section__wrapper:not(.section__wrapper__splited) {
      height: 100%;

      @include screen(0, $tablet) {
        height: auto;
      }
    }
  }

  &__full {
    .section-content {
      justify-content: space-around;
    }
    .section__wrapper {
      height: 100%;
    }
  }

  &__fixed:not(.section-main) {
    .section__wrapper {
      //max-height: 760px;

      @include screen(0, $tablet) {
        height: auto;
      }
    }
  }

  &__row {
    flex-direction: row;
    display: flex;
    align-items: center;

    div {
      margin-right: 80px;
    }


    @include screen(0, $mobile) {
      flex-direction: column;
      align-items: normal;
      div {
        margin-right: 20px;
        margin-bottom: 32px;
      }

      div.small {
       margin-bottom: 16px; 
       margin-right: 0px;
      }
    }
     @include screen($mobile, $tablet) {

      flex-direction: column;
      align-items: normal;
      div {
        margin-right: 20px;
        margin-bottom: 48px;
      }

      div.small {
       margin-bottom: 32px; 
       margin-right: 0px;
      }
    } 

    @include screen($tablet, $desktop) {
      div {
        margin-right: 50px;
      }
      .container-small {
        margin-right: 0px;
        div {
          margin-right: 0px;
        }
      }
    }
  }

  &__fullsize {
    height: auto;
    overflow: hidden;
  }

}

.section-content {
  flex-direction: column;
  display: flex;
  position: relative;
  flex: 1;
  background-color: inherit;
  
  height: 100%;

  &__content-bottom {
    justify-content: flex-end;
  }

  &.white {
    background-color: #ffffff;
  }

  &__row {
    flex-direction: row;
    align-items: center;

    @include screen(0, $mobile) {
      flex-direction: column;
    }
  }

  @include screen(0, $tablet) {
    padding: 0px 32px;
  }

  &.padds {
    padding-left: 90px;

    @include screen(0, $mobile) {
      padding-left: 30px;
    }
  }
}

.section-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;

  canvas {
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #particles-mainview {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 1
  }

  @include screen($desktop-1, 9999px) {
    .main-title {
      font-size: 74px;
    }
  }

}

.section__mobile__pad {
  @include screen($mobile-1, $mobile) {
    margin-bottom: 164px;
  }
  @include screen(0, $mobile-1) {
    margin-bottom: 64px;
  }
}

.section-portfolio {
  h2 {
    padding-bottom: 80px;

    @include screen(0, $tablet) {
      padding-bottom: 0px;
    }
  }
}