.single-icon {

  display: flex;
  justify-content: center;
  align-items: center;

  &__award, &__docs {
    margin-left: 12px;
    cursor: pointer;
  }

  &__award {
    @include screen(0, $mobile) {
      margin-left: 0;
    }
  }

  @include screen(0, $mobile) {
    width: 100%;
    justify-content: flex-start;
  }

  &__wrapper {
    width: 36px;
    height: 36px;
    border: 1px solid #e12125;
    border-radius: 54px;
    display: flex;
    justify-content: center;
    align-self: center;

  }

  &__icon {
    width: 18px;
    height: 18px;
    display: flex;
    align-self: center;
  }

  &__award-list {
    display: flex;
    flex-direction: row;
    padding: 16px;

    img {
      margin-right: 16px;
      width: 64px;
      height: 64px;
      object-fit: contain;


      &:last-child {
        margin: 0px;
      }
    }
  }
}