.singleprojectslider {
  width: 50%;
  //flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 640px;
  padding: 0px 90px;

  @include screen(0, $mobile) {
    width: 100%;
    padding: 0px;
    min-height: auto;
  }

  @include screen($mobile, $tablet) {
    padding: 0px 32px;
  }

  &__container {
    height: 100%;
    
    .swiper-pagination {
      
      flex-direction: row;
      align-items: center;
      left: 0px!important;
      transform: none!important;
      width: 100%!important;
      justify-content: center;

      display: none;
      @include screen(0, $mobile) {
        display: flex;
      }
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      color: rgba(0,0,0,.5);
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .swiper-pagination-bullet-active {
      width: 64px;
      height: 64px;
      border: 2px solid rgba(0,0,0,.2);
      background-color: transparent;
    }

    @include screen(0, $mobile) {
      padding-bottom: 90px;
    }
  }

  &__image {
    width: 50%;
    position: absolute;
    right: 0;
    top:0;
    z-index: 9;
    height: 640px;

    @include screen(0, $mobile) {
      width: 100%;
      position: relative;
      height: 420px;
    }
  }

  &__descr {
    display: none;
    @include screen(0, $mobile) {
      display: block;
      position: absolute;
      bottom: 0px;
      background-color: rgba(0,0,0,.6);
      padding:16px;
      color: #ffffff;
      width:100%;
    }
  }

  &__content {

    height: 100%;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    @include screen(0, $mobile) {
      display: flex;
      flex-direction: column;
      position: relative;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.4;
    max-width: 70%;
    min-height: 280px;
    margin-bottom: 24px;

    @include screen(0, $mobile) {
      max-width: 100%;
      min-height: auto;
      font-size: 18px;
    }
  }

  &__title-container {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    margin-bottom: 24px;

    @include screen(0, $mobile) {
      min-height: auto;
    }
  }

  &__slide-title {
    font-size: 20px;
    color: #e12125;
    flex: 1;
    width: 100%;

    @include screen(0, $mobile) {
      font-size: 18px;
    }
  }

  &__slide-pagination {
    width: 64px;
    height: 64px;
    margin-left: 120px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 32px;

    @include screen(0, $mobile) {
      display: none;
    }
  }

  &__slide-items {
    @include screen(0, $mobile) {
      display: none;
    }
  }

  &__slide-item {
    margin-bottom: 12px;
    margin-left: 12px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    transition: all ease .3s;
    display: block;

    span {
      margin-top: 4px;
      display: block;
      width: 0%;
      height: 1px;
      background-color: #e12125;
    }

    &:hover {
      color: #e12125;
      transition: all ease .3s;

      @include screen(0, $mobile) {
        color: inherit;
      }
    }

    &:before {
      content: '•';
      position: absolute;
      height: 100%;
      width: 12px;
      left: -12px;
      color: rgba(0,0,0,.6)
    }
  }
}