.main-title {
  text-align: left;
  font-size: 76px;
  font-family: 'MuseoSansCyrl';
  font-weight: 300;
  margin: 0;
  pointer-events: none;

  &__centered {
    text-align: center;
  }

  &__fixed {
    position: fixed;
    top: 48px;
    width: 100%;
    opacity: 0;
  }

  .filled {
    color: #e12125;
  }
}

.main-title__small {
  text-align: left;
  font-size: 56px;
  font-family: 'MuseoSansCyrl';
  font-weight: 300;
  margin: 0;
  pointer-events: none;

  .filled {
    color: #e12125;
  }

  &--mgtop {
    margin-top: 64px;
  }
}


.small {
  font-size: 20px;
}

.medium {
  font-size: 30px;
}

.title-under {
  font-size: 160px;
  line-height: 1;
  font-family: 'MuseoSansCyrl';
  font-weight: 300;
  position: absolute;
  opacity: 0;
  align-self: center;
  text-align: center;
  top: 24%;


}

.sub-title {
  font-size: 56px;
  font-family: 'MuseoSansCyrl';
  font-weight: 300;
}