.main-title {
  text-align: left;
  font-size: 76px;
  margin: 0;
  pointer-events: none;

  @include screen($tablet, $desktop) {
    font-size: 48px;
  }
  @include screen($mobile, $tablet) {
    font-size: 36px;
    margin-bottom: 24px; 
  }
  @include screen($mobile-1, $mobile) {
    font-size: 42px;
    margin: 32px 0px 48px 0px;
    text-align: left;
  }
  @include screen(0, $mobile-1) {
    font-size: 28px;
    margin: 16px 0px 24px 0px;
    text-align: left;
  }

  &.mobile-centered {
    text-align: center;
    font-size: 64px;

    @include screen(0, $mobile) {
      font-size: 42px;
    }
  }

  &__centered {
    text-align: center;
  }

  &__fixed {
    position: fixed;
    top: 48px;
    left: 128px;
    width: 100%;
    opacity: 0;
    margin: 0 auto;
    display: block;
    max-width: 1600px;

    @include screen($desktop, $desktop-wide) {
      max-width: 1480px;
    }

    @include screen($tablet, $desktop) {
      max-width: 1024px;
      top: 64px;
    }

    @include screen(0, $mobile) {
      position: relative;
      opacity: 1;
      top: 0px;
      left: 0px;
      margin-bottom: 48px!important;
    }

    @include screen($mobile, $tablet) {
      position: relative;
      opacity: 1;
      top: 0px;
      left: 0px;
    }

  }

  .filled {
    color: #e12125;
  }
}

.main-subtitle {
  font-size: 32px;
  margin: 0;
  pointer-events: none;
  margin-top: 12px;

  @include screen($tablet, $desktop) {
    font-size: 28px;
  }
  @include screen($mobile, $tablet) {
    font-size: 24px;
  }
  @include screen($mobile-1, $mobile) {
    font-size: 22px;
  }
  @include screen(0, $mobile-1) {
    font-size: 18px;
  }

  &.mobile-centered {
    text-align: center;
  }
}

.main-title__small {
  text-align: left;
  font-size: 56px;
  margin: 0;
  pointer-events: none;

  @include screen($tablet, $desktop) {
    font-size: 36px;
  }
  @include screen($mobile, $tablet) {
    font-size: 48px;
    margin-bottom: 24px; 
  }
  @include screen($mobile-1, $mobile) {
    font-size: 48px;
    margin-bottom: 32px;
  }
  @include screen(0, $mobile-1) {
    font-size: 36px;
    margin-bottom: 24px;
  }

  .filled {
    color: #e12125;
  }

  &--mgtop {
    margin-top: 64px;
    @include screen(0, $mobile) {
      margin-top: 16px;
    }
  }
}


.small {
  font-size: 20px;

  @include screen($tablet, $desktop) {
    font-size: 16px;
  }
  @include screen($mobile-1, $mobile) {
    font-size: 18px;
  }
  @include screen(0, $mobile-1) {
    font-size: 14px;
  }
}

.medium {
  font-size: 30px;

  @include screen($tablet, $desktop) {
    font-size: 22px
  }
  @include screen($mobile-1, $mobile) {
    font-size: 22px;
  }
  @include screen(0, $mobile-1) {
    font-size: 18px;
  }
}

.title-under {
  font-size: 160px;
  line-height: 1;
  //position: absolute;
  opacity: 0;
  align-self: center;
  text-align: center;
  margin-top: 160px;
  width: 40px;

  @include screen($tablet, $desktop-1) {
    //top: 26%;
    font-size: 96px;
  }
  @include screen($desktop-1, $desktop) {
    //top: 26%;
    font-size: 120px;
  }

  @include screen(0, $mobile) {
    //top: 28%;
    font-size: 48px;
  }


}

.sub-title {
  font-size: 46px;

  @include screen($tablet, $desktop) {
    font-size: 34px;
  }
  @include screen(0, $mobile) {
    font-size: 28px;
  }
}