.main-title {
  text-align: left;
  font-size: 76px;
  font-family: 'MuseoSansCyrl';
  font-weight: 300;
  margin: 0;
  pointer-events: none;

  @include screen($tablet, $desktop) {
    font-size: 48px;
  }

  &__centered {
    text-align: center;
  }

  &__fixed {
    position: fixed;
    top: 48px;
    width: 100%;
    opacity: 0;
    display: block;
    max-width: 1600px;

    @include screen($desktop, $desktop-wide) {
      max-width: 1480px;
    }

    @include screen($tablet, $desktop) {
      max-width: 1024px;
    }

  }

  .filled {
    color: #e12125;
  }
}

.main-title__small {
  text-align: left;
  font-size: 56px;
  font-family: 'MuseoSansCyrl';
  font-weight: 300;
  margin: 0;
  pointer-events: none;

  @include screen($tablet, $desktop) {
    font-size: 36px;
  }

  .filled {
    color: #e12125;
  }

  &--mgtop {
    margin-top: 64px;
  }
}


.small {
  font-size: 20px;

  @include screen($tablet, $desktop) {
    font-size: 16px;
  }
}

.medium {
  font-size: 30px;

  @include screen($tablet, $desktop) {
    font-size: 22px
  }
}

.title-under {
  font-size: 160px;
  line-height: 1;
  font-family: 'MuseoSansCyrl';
  font-weight: 300;
  position: absolute;
  opacity: 0;
  align-self: center;
  text-align: center;
  top: 24%;

  @include screen($tablet, $desktop) {
    top: 26%;
    font-size: 120px;
  }


}

.sub-title {
  font-size: 46px;
  font-family: 'MuseoSansCyrl';
  font-weight: 300;

  @include screen($tablet, $desktop) {
    font-size: 34px;
  }
}