.top-menu {
  display: flex;
  flex: 1;
  margin: 0px 24px;
  height: 30px;
  justify-content: space-around;
  align-items: center;

  &__item {
    text-decoration: none;
    cursor: pointer;
    font-family: 'MuseoSansCyrl';
    font-size: 16px;
    color: #000000;
  }

}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  &__title {
    font-size: 18px;
    font-family: 'MuseoSansCyrl';
    font-weight: 300;
    line-height: 1;
  }
  &__img {
    fill:#e11925;
    width: 64px;
    height: 64px;
    margin-right: 14px;
  }

}