.top-menu {
  display: flex;
  flex: 1;
  margin: 0px 24px;
  height: 30px;
  justify-content: space-around;
  align-items: center;

  &__item {
    text-decoration: none;
    cursor: pointer;
    font-family: 'MuseoSansCyrl';
    font-size: 16px;
    color: #000000;
    transition: all ease 0.5s;

    span {
      position: relative;
      display: block;
      margin-top: 2px;
      width: 0%;
      height: 1px;
    }

    &.nothovered {
      opacity: 0.3;
      transition: all ease 0.5s;
      cursor: pointer;
    }

    &.hovered {
      opacity: 1;
      transition: all ease 0.5s;
      cursor: pointer;

      span {
        position: relative;
        display: block;
        margin-top: 2px;
        width: 0%;
        height: 1px;
        background: #333333;
        animation: lineanimation 0.4s linear normal;
        animation-fill-mode: both;
      }
    }
  }

}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  &__title {
    font-size: 18px;
    font-family: 'MuseoSansCyrl';
    font-weight: 300;
    line-height: 1;
  }
  &__img {
    fill:#e11925;
    width: 64px;
    height: 64px;
    margin-right: 14px;
  }

}


@keyframes lineanimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}