.wide {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;


  &__content {
    display: flex;
    flex-direction: column;
    width: 1600px;
    margin: 0 auto;
    padding: 36px;
    background-color: inherit;

    .sub-title {
      min-height: 110px;

      @include screen(0, $mobile) {
        min-height: auto;
      }
    }

    @include screen(0, $mobile) {
      width: 100%;
      padding: 0px;
      width: 100%;
    }
    @include screen($mobile, $tablet) {
      width: 100%;
    }
    @include screen($tablet, $desktop) {
      width: 100%;
      padding: 34px 64px;
    }
  }

  &__image {
    display: inline-block;
    margin: 36px 0px;
    height: 200px;

    @include screen(0, $mobile) {
      height: 120px;
      img {
        height: 100%;
      }
    }
  }

  &__row + &__row {
    margin-top: 10px;
    @include screen(0, $mobile) {
      margin-top: 0px;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;

    @include screen(0, $mobile) {
      flex-direction: column;
    }


    .wide__content {
      width: calc(1600px/2 - 40px);

      @include screen(0, $mobile) {
        width: 100%;
      }
      @include screen($mobile, $tablet) {
        width: 100%;
      }
      @include screen($tablet, $desktop) {
        width: 100%;
      }
    }



    .wide__item {
      /* &:nth-child(even) {
        margin-left: 5px;
        .wide__content {
          float: left;
        }
      }
      &:nth-child(odd):not(:last-child) {
        margin-right: 5px;
        .wide__content {
          float: right;
        }
      } */

      &:nth-child(1):last-child  {
        .sub-title {
          text-align: center;
          min-height: 70px;

          @include screen(0, $mobile) {
            text-align: left;
            min-height: auto;
          }
        }
        .button {
          text-align: center;
        }

        .button__wrapper {
          justify-content: center;
        }

        .wide__image {
          margin: 36px auto;

          @include screen(0, $mobile) {
            margin: 36px 0;
          }
        }
      }
    }
  }

  &__col {
    margin-top: 10px;
    .sub-title {
      text-align: center;
      min-height: 70px;

      @include screen(0, $mobile) {
        text-align: left;
        min-height: auto;
      }
    }
    .button {
      text-align: center;
    }

    .wide__image {
      margin: 36px auto;

      @include screen(0, $mobile) {
        margin: 36px 0;
      }
    }
  }

  &__item {
    flex: 1;
    padding: 36px;
    background:#aabbcc;
  }

  &__container {
    display: flex;
    flex-direction: row;

    @include screen(0, $mobile) {
      flex-direction: column;
    }

    .wide__text {
      width: 50%;

      @include screen(0, $mobile) {
        width: 100%;
      }

      &:first-child {
        padding-right: 40px;

        @include screen(0, $mobile) {
          padding-right: 0px;
        }
      }
      &:last-child {
        padding-left: 40px;

        @include screen(0, $mobile) {
          padding-left: 0px;
        }
      }
    }
  }

  &__text {
    margin-top: 40px;
    font-size: 20px;
    min-height: 120px;
    @include screen(0, $tablet) {
      margin-top: 16px;
      font-size: 18px;
    }
    @include screen($tablet, $desktop) {
      margin-top: 16px;
      font-size: 18px;
    }
  }


  &__blue {
    background: #eaf2fd;
  }

  &__green {
    background: #f1fcf9;
  }

  &__yellow {
    background: #fdfdf5;
  }

  &__purple {
    background: #fcf6fb;
  }

  &__lime {
    background: #f7fdea;
  }
}