.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-clock-circular-outline {
    font-size:(97.16/10)*1rem;
    width:(97.16/97.16)*1em;
}
.icon-logo {
    font-size:(48/10)*1rem;
    width:(48/48)*1em;
}
.icon-q2 {
    font-size:(298.324/10)*1rem;
    width:(342.51/298.324)*1em;
}
.icon-search123 {
    font-size:(188.243/10)*1rem;
    width:(166.182/188.243)*1em;
}
.icon-time {
    font-size:(36/10)*1rem;
    width:(36/36)*1em;
}
.icon-verif {
    font-size:(36/10)*1rem;
    width:(36/36)*1em;
}
