mixin achievments()
  +b.achievments
    +e.__item
      img(src="img/events_main1.png")
      +e.__descr 
        span.filled Лучший 
        | ивент проект 2018
    +e.__item
      img(src="img/events_main2.png")
      +e.__descr
        span.filled Лучший 
        | стенд 
        span Best stand Design