mixin feedback()
  +b.section__wrapper.js-viewport-block&attributes(attributes)
      +b.section-content
        h2.main-title__small.main-title__small--mgtop.js-anim-title Если остались вопросы, отправляем красивые презентации на вашу почту
        +b.block-feedback
          +b.row.js-anim-block
            input.form-text(type="text" name="" placeholder="Ваш e-mail")
            input.form-text(type="text" name="" placeholder="Ваш телефон")
          +b.button__wrapper.smallpadds.js-anim-block
            button.btn-wide Отправить презентацию