mixin breadcrumbs()
  +b.breadcrumbs&attributes(attributes)
    +e.item
      a.back
    +e.item
      a(href="#") Главная
    +e.item
      a(href="#") Элемент меню
    +e.item
      a(href="#") Элемент меню2