.dark-theme {
  color: #ffffff;

  background-color: #282828;

  .button__wrapper.white {
    background-color: #282828;
  }

  .form-text {
    background-color: #282828;
  }

  .block-footer__info {

    .text {
      color: #ececec
    }
  }
}