
body, html {
    height: 100%;
}

svg {
}

*{
  outline: none;
  box-sizing: border-box;
}

.section {
  height: 100vh;
  background-color: #aabbcc;
  
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}



