
body, html {
    height: 100%;
}

svg {
}

*{
  outline: none;
  box-sizing: border-box;
}

.section {
  height: 100vh;
  background-color: #aabbcc;
  
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}
.light-box {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 490px;
  top: 46%;
  z-index: 999;
  opacity: 0;

  div {
    /* width: 5px;
    height: 5px;
    background: #aa0000;  */
  }
}
#light1 {
  margin: 20px 10px;
  //box-shadow: 0px 0px 150px 150px #a9ff81;
  animation: glow1 9s linear infinite;
             //rotating 5s linear infinite;
  position: absolute;
  border-radius: 50px;
  opacity: 1;
  left: 90px;
  top: 0px;
  z-index: 2;
  filter: saturate(15);
}
#light2 {
  margin: 10px 20px;
  //box-shadow: 0px 0px 120px 100px #ff8181;
  animation: glow2 9s linear infinite;
             //rotating 3s linear infinite;
  position: absolute;
  opacity: 1;
  left: 0px;
  top: 90px;
  z-index: 3;
  filter: saturate(8);

  &:before {
    content: '';
    width: 100px;
    height: 100px;
    background: #000;
    position: absolute;
    top:-70px;
    left: -30px;
    border-top-right-radius: 100%;
    //background-color: #123123;
    background: linear-gradient(to bottom left, rgba(255,255,255,0.05), rgba(255,255,255,0));
    opacity: 0.6
  }
}
#light3 {
  margin: 10px 20px;
  //box-shadow: 0px 0px 80px 100px #81abff;
  animation: glow3 9s linear infinite;
             //rotating 4s linear infinite;
  position: absolute;
  opacity: 1;
  left: 180px;
  top: 90px;
  z-index: 2;
  filter: saturate(8);

   &:before {
    content: '';
    width: 100px;
    height: 100px;
    background: #000;
    position: absolute;
    top: -70px;
    left: -70px;
    border-top-left-radius: 100%;
    background: linear-gradient(to bottom right, rgba(255,255,255,0.05), rgba(255,255,255,0));
    opacity: 0.4
  }

}

@keyframes rotating {
  from {
    transform: rotate(0deg) translateX(20px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(20px) rotate(-360deg);
  }
}

@keyframes glow1{
  0%, 100% {
    box-shadow: 0px 0px 90px 80px #8bc34a;
    opacity: 0.9;
  }
  14% {
    box-shadow: 0px 0px 90px 80px #00bcd4;
    opacity: 0.8;
  }
  28% {
    box-shadow: 0px 0px 90px 80px #3f51b5;
    opacity: 0.6;
  }
  42% {
    box-shadow: 0px 0px 90px 80px #9c27b0;
    opacity: 0.6;
  }
  56% {
    box-shadow: 0px 0px 90px 80px #f44336;
    opacity: 0.6;
  }
  70% {
    box-shadow: 0px 0px 90px 80px #ff9800;
    opacity: 0.9;
  }
  84% {
    box-shadow: 0px 0px 90px 80px #ffeb3b;
    opacity: 0.9;
  }
}
@keyframes glow2{
  0%, 100% {
    box-shadow: 0px 0px 120px 70px #ffeb3b;
    opacity: 0.6;
  }
  14% {
    box-shadow: 0px 0px 120px 70px #8bc34a;
  }
  28% {
    box-shadow: 0px 0px 120px 70px #00bcd4;
  }
  42% {
    box-shadow: 0px 0px 120px 70px #3f51b5;
  }
  56% {
    box-shadow: 0px 0px 120px 70px #9c27b0;
  }
  70% {
    box-shadow: 0px 0px 120px 70px #f44336;
  }
  84% {
    box-shadow: 0px 0px 120px 70px #ff9800;
    opacity: 0.6;
  }
}
@keyframes glow3{
  0%, 100% {
    box-shadow: 0px 0px 120px 70px #00bcd4;
    opacity: 0.6;
  }
  14% {
    box-shadow: 0px 0px 120px 70px #3f51b5;
  }
  28% {
    box-shadow: 0px 0px 120px 70px #9c27b0;
  }
  42% {
    box-shadow: 0px 0px 120px 70px #f44336;
  }
  56% {
    box-shadow: 0px 0px 120px 70px #ff9800;
  }
  70% {
    box-shadow: 0px 0px 120px 70px #ffeb3b;
  }
  84% {
    box-shadow: 0px 0px 120px 70px #8bc34a;
    opacity: 0.6;
  }
}


